<div class="popup-display" data-popup-target="popup">

  <div class="popup-window">

    <button class="close-popup-button" data-action="click->popup#hide">x</button>
    <p data-popup-target="blockStart">Begins: </p>
    <p data-popup-target="blockEnd">Ends: </p>
  </div>
</div>