<p style="color: green"><%= notice %></p>

<% content_for :title, "Popups" %>

<h1>Popups</h1>

<div id="popups">
  <% @popups.each do |popup| %>
    <%= render popup %>
    <p>
      <%= link_to "Show this popup", popup %>
    </p>
  <% end %>
</div>

<%= link_to "New popup", new_popup_path %>
